@font-face {
  font-family: bold;
  src: url(/public/font/verdana-bold.ttf);
}
@font-face {
  font-family: medium;
  src: url(/public/font/verdana.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "medium";
}

*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  background: #F2BC1C;
  border: none;
}

*::-webkit-scrollbar-thumb:active {
  background: #CFA320;
}

*::-webkit-scrollbar-track {
  background: #ccc;
  border: 0px none #ffffff;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background: #fff;
}

.logo {
  color: black;
  display: inline-lock;
}
.logo img {
  width: 40%;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-align: end;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 60px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 5px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 32px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 1px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 22px 14px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.social {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
}
.social a {
  text-transform: none;
}
.social a i {
  font-size: 2.5rem;
  margin: 20px 10px;
  color: #000;
  text-align: center;
  transition: transform 0.4s ease;
}
.social a i:hover {
  transform: scale(1.1);
}

.main-content {
  display: grid;
  place-items: center;
  height: 100vh;
}
.main-content h1 {
  font-family: bold;
  font-size: 5rem;
}

.main-content-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.main-content-about h1 {
  font-family: bold;
  font-size: 5rem;
}
.main-content-about .section-about {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content-about .section-about .text-box {
  margin-left: 50px;
  flex: 1;
}
.main-content-about .section-about .text-box h4 {
  font-size: 1.8rem;
}
.main-content-about .section-about .text-box p {
  font-size: 1rem;
  margin-top: 50px;
}
.main-content-about .section-about .contact {
  flex: 1;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social-icons {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s, top 0.3s;
}

.card:hover .social-icons {
  opacity: 1;
  top: 10px;
}

.social-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 14px;
}

.main-content-port {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.main-content-port h1 {
  font-family: bold;
  font-size: 5rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}
.icons a img {
  background: #fff;
  padding: 10px;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  margin: 0 30px;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 65%;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #ccc;
}

.close {
  font-family: Arial, Helvetica, sans-serif;
  background: red;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}

.close:hover {
  background: #fa3f6f;
}

.container-carousel {
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}

.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}

.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}

.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}

.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}

.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}

.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}

.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  border-radius: 10px;
  transform: scale(0.9);
}

.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  border-radius: 10px;
  transform: scale(0.9);
}

.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  border-radius: 10px;
  transform: scale(0.9);
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}

.carousel__slide figure {
  display: flex;
  margin: 0;
}

.carousel__slide div {
  position: relative;
  width: 100%;
}

.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}

.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__slide figcaption {
  color: #fff;
  align-self: flex-end;
  padding: 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}

.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}

.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc(16.6666666667% - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
  display: block;
  position: relative;
}

.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.main-content-contact h1 {
  font-family: bold;
  font-size: 5rem;
}/*# sourceMappingURL=style.css.map */